@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* ฟอนต์ใหม่ */
  --font-thai: var(--font-kanit);
  --font-eng: var(--font-archivo-black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-thai);    
  --font-mono: var(--font-eng);      
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* default body font = Kanit */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-thai), sans-serif;
}

/* Utility (ใช้เองใน Component) */
.font-thai {
  font-family: var(--font-thai), sans-serif;
}

.font-eng {
  font-family: var(--font-eng), sans-serif;
}
